<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Default -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Optional: turn up only your package when debugging -->
    <!--
    <logger name="vn.flinters.adagg" level="DEBUG"/>
    -->
</configuration>
